<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Blogs list</h2>
<a th:href="@{/blog/create}">Add new blog</a>

<table>
    <thead>
    <tr>
        <th>Order</th>
        <th>Title</th>
        <th>Time created</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog, order :${blogs}">
        <td th:text="${order.index+1}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${#temporals.format(blog.createdTime, 'dd/MM/yyyy HH:mm')}"></td>
        <td>
            <a th:href="@{'/blog/detail/' + ${blog.id}}" >Detail</a>
            <a th:href="@{'/blog/edit/' + ${blog.id}}" >Modify</a>
            <a th:href="@{'/blog/delete/' + ${blog.id}}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>