<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create blog</h1>
<form th:action="@{/blog/create}" method="post" th:object="${blog}">
    <div>
        <label>Title:</label>
        <input type="text" th:field="*{title}" required>
    </div>
    <div>
        <label>Nội dung:</label>
        <textarea th:field="*{content}" rows="6" required></textarea>
    </div>
    <div>
        <label>Category</label>
        <select th:field="*{category}">
            <option th:each="cat:${categories}" th:value="${cat}" th:text="${cat.getName()}"></option>
        </select>
    </div>
    <button type="submit">Post</button>
    <a th:href="@{/blogs}">Return to list</a>
</form>
</body>
</html>