<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<h1>Edit product</h1>
<form th:action="@{/update}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Name: <input type="text" th:field="*{name}"/></label><br/>
    <label>Price: <input type="number" th:field="*{price}"/></label><br/>
    <label>Quantity: <input type="text" th:field="*{quantity}"/></label><br/>
    <label>Manufacturer: <input type="text" th:field="*{manufacturer}"/></label><br/>

    <button type="submit">Update</button>
</form>
<a th:href="@{/}">Return to list</a>
</body>
</html>