<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/song/update}" th:object="${song}" method="post">
    <input type="hidden" name="index" th:value="${index}"/>

    <div>
        Name:
        <input type="text" th:field="*{name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>

    <div>
       Artist:
        <input type="text" th:field="*{artist}"/>
        <p th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></p>
    </div>

    <div>
        Genre:
        <input type="text" th:field="*{genre}"/>
        <p th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></p>
    </div>

    <button type="submit">Update</button>
</form>

</body>
</html>