<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Songs list</h2>
<a th:href="@{/song/add}">Add new song</a>
<table>
    <thead>
    <tr>
        <th>Order</th>
        <th>Name</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song, order : ${songs}">
        <td th:text="${order.index}"></td>
        <td th:text="${song.name}"></td>
        <td th:text="${song.artist}"></td>
        <td th:text="${song.genre}"></td>
        <td>
            <a th:href="@{'/song/edit/'+ ${order.index}}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>